@charset "UTF-8";

/* Alterando a fonte */
body{
    color: #333333;
    font-family: "lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px auto;
    width: 940px;
}

h1{
    background-image: url('../img/sobre-background.jpg');
    padding: 10px;
}

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
}

h3{
    background-color: #F2EDED;
}

p{
    padding: 0px 45px;
}

figure{
    width: auto;
    height: auto;
    background-color: #F2EDED;
    border-radius: 1px;
    border-color: #cccccc;
    border-style: solid;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

