@charset 'UTF-8';
/*corpo da página*/
body{
    color: #003366;
    font-family: "Lucinda Sans Unicode", "Lucinda Grande", sans-serif;
}

/* logo sacola */
p.sacola{
    background-image: url('../img/sacola.png');
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14pt;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0px;
    right: 0px;
}

/*cabeçalho*/
header{position: relative;
}

/*menu de opções*/
nav.menu-opcoes {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

nav.menu-opcoes ul{
    font-size: 15pt;
}

nav.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

nav.menu-opcoes a{
    color: #003366;
}

/*container*/
.container{
    margin: 0 auto;
    width: 940px;
}

/* menu e destaques */
section.busca, section.menu-departamento{
    float: left;
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    /*width: 230px;*/
}

section.menu-departamento{
    clear: left;
    margin-top: 10px;
    padding: 10px;
}

section.busca h2, .busca form, section.menu-departamento h2{
    margin: 10px;
}

section.menu-departamento li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

section.busca form input[type=search]{
    width: 140px;
}

.destaque{
    margin-top: 10px;
}

/* Paineis */

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel h2{
    font-size: 24pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a{
    color: #333333;
    font-size: 14pt;
    text-align: center;
    text-decoration: none;
}

.novidades{
    background-color: #ff55dd;
}

.mais-vendidos{
    background-color: #dcdf5d;
}

.novidades{
    float: left;
}

.mais-vendidos{
    float: right;
}
