@charset "UTF-8";

/* Alterando a fonte */
body{
    color: #333333;
    font-family: "lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin: 0px auto;
    width: 940px;
}

/* cabeçalho */
header{position: relative;
}

/*menu de opções*/
nav.menu-opcoes {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

nav.menu-opcoes ul{
    font-size: 15pt;
}

nav.menu-opcoes ul li{
    display: inline;
    margin-left: 10px;
    margin-right: 15px;
}

nav.menu-opcoes a{
    color: #003366;
}

/*container*/
.container{
    margin: 0 auto;
    width: 940px;
}

h1{
    background-image: url('../img/sobre-background.jpg');
    padding: 10px;
}

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
    clear: both;
}

h3{
    background-color: #F2EDED;
}

p{
    padding: 0px 45px;
}

/*imagens*/
figure{
    width: auto;
    height: auto;
    background-color: #F2EDED;
    border-radius: 1px;
    border-color: #cccccc;
    border-style: solid;
    text-align: center;
    box-sizing: border-box;
    margin: auto;
    padding: auto;
}

figure#centro-distribuicao{
    margin: 0px auto;
    width: 300px;
    float: right;
}

figure#centro-distribuicao img{
    width: 290px;
}

figure#familia-pelho{
    float: right;
    margin: 0px 0px 10px 10px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

/*rodapé*/
div#rodape{
    text-align: center;
    color: #777777;
    margin: 30px 0px;
    padding: 30px 0px;
}

div#rodape img{
    margin: 0px 30px 0px 0px;
    vertical-align: middle;
    width: 90px;
}
